@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}
h2 {
  font-weight: 400;
  margin: 50px 0 10px;
}
p {
  margin: 0 0 30px 0;
  font-size: 18px;
}
code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
article {
  max-width: clamp(500px, 75vw + 0.5em, 90vw);
  padding: 20px;
  margin: 0 auto;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #cfcffc;
  transform-origin: 0%;
}
